<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.devitems.com/wright-preview/wright/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Nov 2018 20:08:34 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/temp/modernizr")
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->

</head>


<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper home-business">

    <!-- Start of header area -->
    <header class="header-area header-wrapper">
        <div class="header-top-bar black-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="phone-mail-area">
                            <div class="contact-number text-white f-left">
                                <i class="icon-call-in"></i>
                                71 957 115
                            </div>
                            <div class="contact-email text-white f-left hidden-xs">
                                <i class="fa fa-envelope-o"></i>
                                otpda@planet.tn / otdav@otdav.tn

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="social-search-area f-right hidden-xs">
                            <div class="social-icon socile-icon-style-1 mr-10 f-left  hidden-sm">
                                <ul>
                                    <li><a href="https://www.facebook.com/OTDAV-2132838097030488/?ref=br_rs" title="facebook"><i class="fa fa-facebook"></i></a> </li>
                                    <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a> </li>
                                    <li> <a href="#" title="dribble"><i class="fa fa-dribbble"></i></a></li>
                                    <li> <a href="#" title="behance"><i class="fa fa-behance"></i></a> </li>
                                    <li> <a href="#" title="rss"><i class="fa fa-rss"></i></a> </li>
                                </ul>
                            </div>
                            <div class="search-box f-left">
                                <form action="#">
                                    <div class="input-box">
                                        <input type="text" class="single-input" placeholder="Search....">
                                        <button class="src-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="header-middle-area">
            <div class="container">
                <div class="full-width-mega-dropdown">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-3 col">
                            <div class="logo ptb-20"><a href="index.html"> <img src="~/Content/images/logo/logo.png" alt="main logo"></a></div>
                        </div>
                        <div class="col-lg-10 col-md-9 col">

                            <nav id="primary-menu">
                                <ul class="main-menu menu-eff text-right">

                                    <li>
                                        <a class="active" href="index.html">Acceuil</a>
                                        <ul class="dropdown">
                                            <li><a class="active" href="index.html">Home Business</a></li>
                                            <li><a href="index-2.html">Home Corporate</a></li>
                                            <li><a href="index-3.html">Home Portfolio</a></li>
                                            <li><a href="index-4.html">Home Resturant</a></li>
                                            <li><a href="index-5.html">Home Shop</a></li>
                                            <li><a href="index-6.html">Home Video Parallax</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-parent">
                                        <a href="shop.html">shop</a>
                                        <div class="mega-menu-area">
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Shop Layouts</li>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width List</a></li>
                                                <li><a href="shop.html">Sidebar Left</a></li>
                                                <li><a href="shop-right-sidebar.html">Sidebar Right</a></li>
                                                <li><a href="shop-listview.html">List View</a></li>
                                                <li><a href="shop-listview-right-sidebar.html">List View Right</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Shop Pages</li>
                                                <li><a href="shop.html">Catagory</a></li>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Product Types</li>
                                                <li><a href="single-product.html">Simple Product</a></li>
                                                <li><a href="single-product.html">Variable Product</a></li>
                                                <li><a href="single-product.html">Grouped Product</a></li>
                                                <li><a href="single-product.html">External Porduct</a></li>
                                                <li><a href="single-product.html">Downloadable</a></li>
                                                <li><a href="single-product.html">Virtual Product</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mega-parent">
                                        <a href="blog.html">Blog</a>
                                        <div class="mega-menu-area">
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Blog Layouts</li>
                                                <li><a href="blog-fullwidth.html">None Sidebar</a></li>
                                                <li><a href="blog.html">Sidebar Left</a></li>
                                                <li><a href="blog-right-sidebar.html">Sidebar Right</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Blog Pages</li>
                                                <li><a href="single-blog.html">Author</a></li>
                                                <li><a href="single-blog.html">Arcive</a></li>
                                                <li><a href="single-blog.html">Catagory</a></li>
                                                <li><a href="single-blog.html">Blog Tag</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Post Formats</li>
                                                <li><a href="single-blog.html">Image Formet</a></li>
                                                <li><a href="single-blog.html">Gallary Formet</a></li>
                                                <li><a href="single-blog-left.html">Audio Formet</a></li>
                                                <li><a href="single-blog-left.html">Video Formet</a></li>
                                                <li><a href="single-blog-left.html">Other Formet</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mega-parent">
                                        <a href="index-2.html">Pages</a>
                                        <div class="mega-menu-area">
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">Pages-01</li>
                                                <li><a href="about-us.html">About-us</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Single Blog</a></li>
                                                <li><a href="blog-fullwidth.html">Blog-Fullwidth</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog-Right</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">pages-02</li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li>
                                                    <a href="single-portfolio.html">
                                                        Single
                                                        Portfolio
                                                    </a>
                                                </li>
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-fullwidth.html">Shop Full</a></li>
                                                <li><a href="shop-listview.html">Shop List</a></li>
                                            </ul>
                                            <ul class="single-mega-item">
                                                <li class="menu-title uppercase">pages-03</li>
                                                <li><a href="shop-right-sidebar.html">Shop Right</a></li>
                                                <li>
                                                    <a href="shop-listview-right-sidebar.html">
                                                        Shop
                                                        List Right
                                                    </a>
                                                </li>
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                                <li><a href="single-blog-left.html">Single-Blog-Left</a></li>
                                                <li><a href="thank-you.html">Thank You</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a class="mega-parent" href="index.html">Se Connecter &nbsp<i class="fa fa-key"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area fix d-block d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Business</a></li>
                                        <li><a href="index-2.html">Home Corporate</a></li>
                                        <li><a href="index-3.html">Home Portfolio</a></li>
                                        <li><a href="index-4.html">Home Resturant</a></li>
                                        <li><a href="index-5.html">Home Shop</a></li>
                                        <li><a href="index-6.html">Home Video Parallax</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="shop.html">shop</a>
                                    <ul>
                                        <li>
                                            <a href="shop.html">Shop Layouts</a>
                                            <ul>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-leftsidebar.html">Sidebar Left</a></li>
                                                <li><a href="shop-rightsidebar.html">Sidebar Right</a></li>
                                                <li><a href="shop-listview.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="shop.html">Shop Pages</a>
                                            <ul>
                                                <li><a href="shop.html">Catagory</a></li>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="shop.html">Product Types</a>
                                            <ul>
                                                <li><a href="single-product.html">Simple Product</a></li>
                                                <li><a href="single-product.html">Variable Product</a></li>
                                                <li><a href="single-product.html">Grouped Product</a></li>
                                                <li><a href="single-product.html">External Porduct</a></li>
                                                <li><a href="single-product.html">Downloadable</a></li>
                                                <li><a href="single-product.html">Virtual Product</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                    <ul>
                                        <li>
                                            <a href="blog.html">Blog Layouts</a>
                                            <ul>
                                                <li><a href="blog-fullwidth.html">None Sidebar</a></li>
                                                <li><a href="blog.html">Sidebar Left</a></li>
                                                <li><a href="blog-right-sidebar.html">Sidebar Right</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog Pages</a>
                                            <ul>
                                                <li><a href="blog.html">Author</a></li>
                                                <li><a href="blog.html">Arcive</a></li>
                                                <li><a href="blog.html">Catagory</a></li>
                                                <li><a href="blog.html">Blog Tag</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">Post Formats</a>
                                            <ul>
                                                <li><a href="single-blog.html">Image Formet</a></li>
                                                <li><a href="single-blog.html">Gallary Formet</a></li>
                                                <li><a href="single-blog.html">Audio Formet</a></li>
                                                <li><a href="single-blog.html">Video Formet</a></li>
                                                <li><a href="single-blog.html">Other Formet</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">pages</a>
                                    <ul>
                                        <li><a href="about-us.html">about-us</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="single-blog.html">Single Blog</a></li>
                                        <li><a href="blog-fullwidth.html">Blog-Fullwidth</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog-Right</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-fullwidth.html">Shop Full</a></li>
                                        <li><a href="shop-listview.html">Shop List</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right</a></li>
                                        <li>
                                            <a href="shop-listview-right-sidebar.html">
                                                Shop List
                                                Right
                                            </a>
                                        </li>
                                        <li><a href="single-product.html">Single Product</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="portfolio.html">portfolio</a>
                                    <ul>
                                        <li><a href="portfolio.html">Three Columns</a></li>
                                        <li><a href="single-portfolio.html">Single Project</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--mobile menu area end-->


    </header>
</div>
    <body>
        @RenderBody()
      
        
    </body>
    <footer>
        <!--footer area are start-->
        <div class="footer pt-80 pb-45">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-xl-3 col-md-6 col-12 footer-col">
                            <div class="footer-logo">
                                <a rel="home" title="wright" href="#"><img src="~/Content/images/logo/logo.png" alt=""></a>
                            </div>
                            <!-- end logo_footer -->
                            <div class="widget widget_about_us">
                                <p class="address">7 Avenue Mohamed Melki, 1005 El Omrane Tunis Tunisie</p>
                                <p class="phone">Tél: + 216 71 957 115 / + 216 71 957 102 / +216 957 109 /+216 957 097 Fax: + 216 71 957 083</p>
                                <p class="email">Email: <a href="#">otpda@planet.tn / otdav@otdav.tn</a></p>
                            </div>
                            <!-- end about_us -->
                            <div class="widget widget-social">
                                <h3 class="widget-title">
                                    Suivez nous sur les réseaux sociaux
                                </h3>
                                <div class="social-icon socile-icon-tooltip text-center">
                                    <ul>
                                        <li><a class="facebook" data-tooltip="facebook" href="https://www.facebook.com/OTDAV-2132838097030488/?ref=br_rs"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" data-tooltip="twitter" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                        <li>
                                            <a class="instargm" data-tooltip="Instagram" href="https://www.Instagram.com">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end social-icon -->
                        </div>

                        <!-- end widget_instagram_feed -->
                    </div>
                </div>
            </div>
            <!--footer area are start-->
            <!-- copyright area are start-->
            <div class="footer-copyright black-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="widget-copyright">
                                <div class="global-table">
                                    <div class="global-row">
                                        <div class="global-cell">
                                            <a href="#">( OTDAV ) 2018</a>
                                            Tous doits reservés Organisme Tunisien des Droits d’Auteur et des Droits voisins
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end copyright -->
                        </div>

                        <div class="col-lg-6 col-md-5 col-12">
                            <div class="payment-icons">
                                <div class="global-table">
                                    <div class="global-row">
                                        <div class="global-cell">
                                            <a href="#"><img alt="payment-icon" src="~/Content/images/icons/payment-icon.png"> </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end payment_icons -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- copyright area are end-->
            <!--style-customizer start -->
            <div class="style-customizer closed">
                <div class="buy-button">
                    <a href="index.html" class="customizer-logo"><img src="~/Content/images/logo/logo.png" alt="Theme Logo"></a>
                    <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>

                </div>
                <div class="clearfix content-chooser">
                    <h3>Layout Options</h3>
                    <p>Personnalisez votre experience</p>
                    <ul class="layoutstyle clearfix">
                        <li class="wide-layout selected" data-style="wide" title="wide"> Wide </li>
                        <li class="boxed-layout" data-style="boxed" title="boxed"> Boxed </li>
                    </ul>

                    <h3>Themes</h3>

                    <ul class="patternChange clearfix">
                        <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
                        <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
                        <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
                        <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
                        <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
                        <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
                        <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
                        <li class="pattern-8" data-style="pattern-8" title="pattern-8"></li>
                    </ul>
                    <h3>Images de fonds</h3>

                    <ul class="patternChange main-bg-change clearfix">
                        <li class="main-bg-1" data-style="main-bg-1" title="Background 1">
                            <img src="~/Content/images/customizer/bodybg/01.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-2" data-style="main-bg-2" title="Background 2">
                            <img src="~/Content/images/customizer/bodybg/02.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-3" data-style="main-bg-3" title="Background 3">
                            <img src="~/Content/images/customizer/bodybg/03.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-4" data-style="main-bg-4" title="Background 4">
                            <img src="~/Content/images/customizer/bodybg/04.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-5" data-style="main-bg-5" title="Background 5">
                            <img src="~/Content/images/customizer/bodybg/05.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-6" data-style="main-bg-6" title="Background 6">
                            <img src="~/Content/images/customizer/bodybg/06.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-7" data-style="main-bg-7" title="Background 7">
                            <img src="~/Content/images/customizer/bodybg/07.jpg"
                                 alt="">
                        </li>
                        <li class="main-bg-8" data-style="main-bg-8" title="Background 8">
                            <img src="~/Content/images/customizer/bodybg/08.jpg"
                                 alt="">
                        </li>
                    </ul>
                    <ul class="resetAll">
                        <li><a class="button button-border button-reset" href="#">Réinitialiser</a></li>
                    </ul>
                </div>
            </div>
            <!--style-customizer end -->

        </div>

        @Scripts.Render("~/Scripts/js")

    </footer>
    
    </html>