@{
    ViewBag.Title = "OTDAV-Acceuil";
}



<div class="slider-container">
    <!-- Slider Image -->
    <div id="mainSlider" class="nivoSlider slider-image">
        <img src="~/Content/images/slider/slider1.jpg" alt="main slider" title="#htmlcaption1" />
        <img src="~/Content/images/slider/slider3.jpg" alt="main slider" title="#htmlcaption2" />
        <img src="~/Content/images/slider/slider2.jpg" alt="main slider" title="#htmlcaption3" />
    </div>
    <!-- Slider Caption 1 -->
    <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
        <div class="slider-progress"></div>
        <div class="slide1-text">
            <div class="middle-text slide-def">
                <div class="cap-dec wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <h1> <span>Protegez</span> vos oeuvres</h1>
                </div>
                <div class="cap-title wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <h2>Profitez dès maintenant d'une protection de vos oeuvres graçe à nos services. </h2>
                </div>
                <div class="check-it-out wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <a class="btn-def btn2" href="#">Inscrivez vous dès maintenant<i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Caption 2 -->
    <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
        <div class="slider-progress"></div>
        <div class="slide1-text">
            <div class="middle-text slide-def slide-center">
                <div class="cap-dec wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <h1><span>Exploitez </span>des oeuvres...</h1>
                </div>
                <div class="cap-title wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <<h2>Spot publicitaire, Affiche, Brochure... <br> Faites votre choix... </h2>
                </div>
                <div class="check-it-out wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <a class="btn-def btn2" href="#">Consultez notre base de données<i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Caption 3 -->
    <div id="htmlcaption3" class="nivo-html-caption slider-caption-3">
        <div class="slider-progress"></div>
        <div class="slide1-text">
            <div class="middle-text slide-def slide-right">
                <div class="cap-dec wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <h1><span>Deposez </span>votre travail.</h1>
                </div>
                <div class="cap-title wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <h2 class="Color ">Ce dépôt permet, en cas de contestation, de soumettre à l’appréciation des juges un commencement de preuve attestant de l’antériorité du document et de l’identité de son auteur. </h2>
                </div>
                <div class="check-it-out wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">
                    <a class="btn-def btn2" href="#">Deposez dès maintenant<i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- home slider end -->
</div>
<!--slider area are end-->
<!--feature area are start-->
<div class="feature-area pt-60 pb-55">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature text-center blue">
                    <div class="feature-icon mb-30">
                        <a href="#">
                            <i class="fa fa-magic"></i>
                        </a>
                    </div>
                    <div class="feature-heading roboto">
                        <a href="#">Créateur</a>
                    </div>
                    <div class="feature-mini-icon">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                    <div class="feature-content">
                        <span>Tout créateur peut protéger ses œuvres originales littéraires, scientifiques ou artistiques telles que, les compositions musicales, les œuvres écrites ou imprimées, les œuvres créées pour la scène ou pour la radiodiffusion, les logiciels, etc …, selon deux modes de protection</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature text-center purple">
                    <div class="feature-icon mb-30">
                        <a href="#">
                            <i class="fa fa-group"></i>
                        </a>
                    </div>
                    <div class="feature-heading roboto">
                        <a href="#">Utilisateurs</a>
                    </div>
                    <div class="feature-mini-icon">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                    <div class="feature-content">
                        <span>Toute exploitation ou utilisation d’une œuvre protégée nécessite une autorisation préalable de l’auteur lui même ou de son représentant légal en contrepartie d’une rémunération conformément à la loi et à la réglementation en vigueur dans le domaine de la propriété       littéraire et artistique.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature text-center green">
                    <div class="feature-icon mb-30">
                        <a href="#">
                            <i class="fa fa-lock"></i>
                        </a>
                    </div>
                    <div class="feature-heading roboto">
                        <a href="#">Œuvres protégées</a>
                    </div>
                    <div class="feature-mini-icon">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                    <div class="feature-content">
                        <span>Les Œuvres concernées par la protection au titre du droit d’auteur sont citées à titre indicatif dans l’article premier de la loi n° 94-36 du 24 février 1994, relative à la Propriété littéraire et artistique, modifiée et complétée par la Loi n° 2009-33 du 23 juin 2009.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature text-center orange">
                    <div class="feature-icon mb-30">
                        <a href="#">
                            <i class="fa fa-bullhorn"></i>
                        </a>
                    </div>
                    <div class="feature-heading roboto">
                        <a href="#">Sensibilisation</a>
                    </div>
                    <div class="feature-mini-icon">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                    <div class="feature-content">
                        <span>La sensibilisation à la propriété littéraire et artistique constitue un axe important dans l’action de l’Organisme Tunisien des Droits d’Auteur et des Droits Voisins, elle vise à faire mieux comprendre, utiliser les Droits d’Auteur et les Droits Voisins et à promouvoir le respect de ces droits.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--feature area are end-->
<!--what-we-offer-area start-->
<div class="what-we-offer-area gray-bg pt-80 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title roboto">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/92922181" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
            </div>
        </div>
<!--what-we-offer-area end-->
<!-- amazing-work-area start-->
<div class="amazing-work-area pt-85 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title roboto">
                    <h1>Gallerie </h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row row-padd total-amazing-work carsoule-btn cb-2">
                    <div class="col-12 col-padd">
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a1.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Vestibulum gravida</h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Class Master,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a2.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Maecenas tempus risus</h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-padd">
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a3.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Gravida Vestibulum </h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Moon City,</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a4.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Phasellus mattis lacinia</h3>
                                <ul class="animated">
                                    <li><a href="#">Glass art,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-padd">
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a5.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Vestibulum gravida</h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Class Master,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a6.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Maecenas tempus risus</h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-padd">
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a7.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Gravida Vestibulum </h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Moon City,</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a8.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Phasellus mattis lacinia</h3>
                                <ul class="animated">
                                    <li><a href="#">Glass art,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-padd">
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a3.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Gravida Vestibulum </h3>
                                <ul class="animated">
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Moon City,</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="amazing-work-single">
                            <div class="amazing-img def-hover-eff white-eff">
                                <a href="#"><img src="~/Content/images/product/a4.jpg" alt=""></a>
                            </div>
                            <div class="amazing-content">
                                <h3 class="railway uppercase animated">Phasellus mattis lacinia</h3>
                                <ul class="animated">
                                    <li><a href="#">Glass art,</a></li>
                                    <li><a href="#">Sun City</a></li>
                                    <li><a href="#">Sun City</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- amazing-work-area end-->
<!--Counter area start-->
<div class="counter-area text-center ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-count">
                    <h3><span class="counter2">99</span></h3>
                    <p>projects completed</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-count">
                    <h3><span class="counter2">120</span></h3>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-count">
                    <h3><span class="counter2">75</span></h3>
                    <p>Cups of Coffe</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-count">
                    <h3><span class="counter2">105</span></h3>
                    <p>Awards Winner</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-count">
                    <h3><span class="counter2">3500</span></h3>
                    <p>Ratings</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Counter area end-->
<!--Crazy Team area are start-->
<div class="crazy-team-area ptb-80">
    <div class="container">
        <div class="section-title roboto">
            <h1>Nos <span>Membres</span></h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-team text-center ">
                    <div class="team-img def-hover-eff br-eff">
                        <a href="#"><img src="~/Content/images/team/01.png" alt=""></a>
                        <ul class="social-icons animated">
                            <li><a href="#" title="Facebook" data-toggle="tooltip" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter" data-toggle="tooltip" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                                <a href="#" title="Google plus" data-toggle="tooltip" class="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-title">
                        <h3>Mazouz Yacine</h3>
                    </div>
                    <div class="team-resp">
                        <span>Class Master</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-team text-center ">
                    <div class="team-img def-hover-eff  br-eff">
                        <a href="#"><img src="~/Content/images/team/02.png" alt=""></a>
                        <ul class="social-icons animated">
                            <li><a href="#" title="Facebook" data-toggle="tooltip" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter" data-toggle="tooltip" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                                <a href="#" title="Google plus" data-toggle="tooltip" class="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-title">
                        <h3>Mahdi Kabtni</h3>
                    </div>
                    <div class="team-resp">
                        <span>Marketer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-team text-center ">
                    <div class="team-img def-hover-eff  br-eff">
                        <a href="#"><img src="~/Content/images/team/03.png" alt=""></a>
                        <ul class="social-icons animated">
                            <li><a href="#" title="Facebook" data-toggle="tooltip" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter" data-toggle="tooltip" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                                <a href="#" title="Google plus" data-toggle="tooltip" class="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-title">
                        <h3>Aziz Bezrati</h3>
                    </div>
                    <div class="team-resp">
                        <span>Class Master</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-team text-center ">
                    <div class="team-img def-hover-eff  br-eff">
                        <a href="#"><img src="~/Content/images/team/04.png" alt=""></a>
                        <ul class="social-icons animated">
                            <li><a href="#" title="Facebook" data-toggle="tooltip" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter" data-toggle="tooltip" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                                <a href="#" title="Google plus" data-toggle="tooltip" class="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-title">
                        <h3>Jihed Belarbi</h3>
                    </div>
                    <div class="team-resp">
                        <span>PHP Devloper</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col">
                <div class="single-team text-center ">
                    <div class="team-img def-hover-eff  br-eff">
                        <a href="#"><img src="~/Content/images/team/05.png" alt=""></a>
                        <ul class="social-icons animated">
                            <li><a href="#" title="Facebook" data-toggle="tooltip" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter" data-toggle="tooltip" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li>
                                <a href="#" title="Google plus" data-toggle="tooltip" class="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-title">
                        <h3>Wajdi Felhi</h3>
                    </div>
                    <div class="team-resp">
                        <span>Graphic Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Crazy Team area are end-->
<!--our skill section area start-->
<div class="skill-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="powerfull-skills">
                    <div class="single-prograss">
                        <div class="progess-heading">
                            Strategy <span>79%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar pr-blue wow fadeInLeft" style="width:79%"
                                 data-wow-duration="2s" data-wow-delay="1s">
                            </div>
                        </div>
                    </div>
                    <div class="single-prograss">
                        <div class="progess-heading">
                            Marketing <span>96%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar pr-green wow fadeInLeft" style="width:96%"
                                 data-wow-duration="2s" data-wow-delay="1s">
                            </div>
                        </div>
                    </div>
                    <div class="single-prograss">
                        <div class="progess-heading pr-voilate">
                            Wordpress Theme <span>65%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar pr-violate wow fadeInLeft" style="width:65%"
                                 data-wow-duration="2s" data-wow-delay="1s">
                            </div>
                        </div>
                    </div>
                    <div class="single-prograss">
                        <div class="progess-heading">
                            UI/UX Design <span>92%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar pr-ornage wow fadeInLeft" style="width:92%"
                                 data-wow-duration="2s" data-wow-delay="1s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our skill section area end-->
<!--brand area are start-->
<div class="brand-area ptb-80">
    <div class="container">
        <div class="row total-brand">
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand1.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand2.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand3.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand4.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand5.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand6.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand7.jpg" alt=""></a></div>
            </div>
            <div class="col-12">
                <div class="single-brand"><a href="#"><img src="~/Content/images/brand/brand8.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
</div>

